.di-container {

  display: flex;
  color: $light-aqua-green;
  .di-inner {
    width: 100%;
    height: 100%;
    background-color: $baltic-sea;
    .di-content {
      table {
        color: $light-aqua-green;
      }
      h1 {
        padding-left: 40px;
        padding-right: 40px;
        color: $light-aqua-green;
        font-weight: 200;
      }
    }

  }
}