.di-container {
  height: 100vh;
  display: flex;
  .di-inner {
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    background-color: #596275;
    width: 100%;
    h1 {
      font-weight: 300;
    }
  }
}