{{ define "layout" }}
 <html lang="en">
     <head>
         <meta charset="UTF-8">
         <title>Dinsights</title>
         <link rel="stylesheet" href="">
     </head>
    <body>
        {{ template "content" . }}
    <script src="/dist/js/bundle.js"></script>
    </body>
 </html>
{{ end }}