{{ define "layout" }}
 <html lang="en">
     <head>
         <meta charset="UTF-8">
         <title>Dinsights</title>
         <link rel="stylesheet" href="">
     </head>
    <body>
        <div class="di-container">
            {{ template "sidebar" . }}
            <div class="di-inner">
                {{ template "content" . }}
            </div>
        </div>
    <script src="/dist/js/bundle.js"></script>
    </body>
 </html>
{{ end }}