{{ define "navbar" }}
    <nav class="navbar navbar-expand-lg">
            {{ if .authenticated }}
                <form action="/logout" method="POST">
                    <button class="btn btn-outline-info" type="submit">Logout</button>
                </form>
            {{ end }}
    </nav>
{{ end }}